{{- /*
  A wrapper for the new callout shortcode
*/ -}}

{{- $css_class := "note" -}}
{{- $icon := "outline/info-circle" -}}
{{- $title := "Note" -}}

<div class="callout callout-{{ $css_class }} d-flex flex-row mt-4 mb-4 pt-4 pe-4 pb-2 ps-3">
  {{ with $icon -}}
    {{ partial "inline-svg" (dict "src" $icon "class" "callout-icon me-2 mb-3") }}
  {{- end }}
  <div class="callout-content">
    {{ with $title -}}
      <div class="callout-title">
        {{ . | $.Page.RenderString (dict "display" "block") }}
      </div>
    {{- end }}
    <div class="callout-body mb-3">
      {{ with .Get "text" }}{{ . | safeHTML }}{{ end }}
    </div>
  </div>
</div>


{{- /*
  Usage: `callout "type"`, where `type` is one of "note" (default), "info", "danger", or "warning"
  Based on: https://github.com/twbs/bootstrap/blob/283cbd902669732943885e94115a0e29a952baf6/site/layouts/shortcodes/callout.html
*/ -}}



