<form class="contactforms" name="contact-form" method="POST" data-netlify="true" action="/support/success">
    <div class="row form-group">
        <label class="col-sm-3" for="email">Your e-Mail:</label>
        <div class="col-sm-7">
            <input class="form-control" type="email" id="email" name="contactemail" placeholder="Enter email"
                required="required" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-3" for="name">Your Name:</label>
        <div class="col-sm-7">
            <input class="form-control" type="text" id="name" name="contactname" placeholder="Enter your name"
                required="required" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-sm-3" for="message">How can we assist you?</label>
        <div class="col-sm-7">
            <textarea class="form-control" rows="10" id="message" name="contactmessage" placeholder="Enter your message"
            required="required"></textarea>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <button type="submit" class="btn btn-primary btn-cta rounded-pill">Submit your message <i class="bi-envelope"></i></button>
        </div>
    </div>
</form>
