<div class="pricing text-center">
    <b>Try before you buy - evaluate ETLBox for 45 days completely free!</b>
    <a href="/support/get-trial/" class="btn btn-primary btn-cta rounded-pill mx-5">Get your trial key</a>
</div>

<div class="pricing row gx-0 justify-content-center">
    <!-- Personal Use and Testing -->
    <div class="col-md-5 m-2 d-flex justify-content-center">
        <div class="card">
            <div class="card-header text-center personal">
                <h5>Personal Use and Testing</h5>
            </div>
            <div class="card-body">
                <p class="mt-2">Perfect for individual developers to explore and test ETLBox.</p>
                <div class="plan-features">
                    <h6>Features</h6>
                    <ul>
                        <li>All components and functionalities included</li>
                        <li>Limited to 5000 rows per data flow</li>
                    </ul>
                    <h6>Licensing</h6>
                    <ul>
                        <li><a href="/product/licenses/standard-eula/">Standard EULA</a></li>
                        <li>Only for testing and evaluation</li>
                    </ul>
                </div>
                <div class="plan-price text-center">
                    <h3>Free</h3>
                    <h6>Ideal for testing</h6>
                    <a href="/support/get-trial/" class="btn btn-light btn-cta rounded-pill">Try now</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Company-Wide Use -->
    <div class="col-md-5 m-2 d-flex justify-content-center">
        <div class="card">
            <div class="card-header text-center company">
                <h5>Company-Wide Use</h5>
            </div>
            <div class="card-body">
                <p class="mt-2">License key-based solution for organizations, renewable annually.</p>
                <div class="plan-features">
                    <h6>Features</h6>
                    <ul>
                        <li>Developer based licensing</li>
                        <li>Dedicated support</li>
                        <li>Optional SaaS and server-based solutions</li>
                    </ul>
                    <h6>Licensing</h6>
                    <ul>
                        <li><a href="/product/licenses/standard-eula/">Standard EULA</a></li>
                        <li>New license key provided annually</li>
                    </ul>
                </div>
                <div class="plan-price text-center">
                    <h3>Starting at 599 €</h3>
                    <h6>per developer / year</h6>
                    <a href="/support/contact/purchase/" class="btn btn-success btn-cta rounded-pill my-1">Purchase</a><br />
                    <a href="/support/options/" class="btn btn-light mt-2 btn-cta rounded-pill">Contact us</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Redistributable -->
    <div class="col-md-5 m-2 d-flex justify-content-center">
        <div class="card">
            <div class="card-header text-center redistributable">
                <h5>Redistributable</h5>
            </div>
            <div class="card-body">
                <p class="mt-2">Redistribution rights for ETLBox packages in your own products.</p>
                <div class="plan-features">
                    <h6>Features</h6>
                    <ul>
                        <li>Source code access included</li>
                        <li>Redistribution rights for ETLBox packages in your own products</li>
                        <li>Remove all license checks</li>
                        <li>No back-linking or mentioning of ETLBox</li>
                    </ul>
                    <h6>Licensing</h6>
                    <ul>
                        <li><a href="/product/licenses/redistribution-eula/">Redistribution EULA</a></li>
                        <li>Annual vendor license</li>
                    </ul>
                </div>
                <div class="plan-price text-center">
                    <h3>Request a quote</h3>
                    <h6>per customer / year</h6>
                    <a href="/support/contact/purchase/" class="btn btn-success btn-cta rounded-pill my-1">Purchase</a><br />
                    <a href="/support/options/" class="btn btn-light mt-2 btn-cta rounded-pill">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pricing text-center">
    <b>Effective 1st Jan 2025 were updating our license conditions.</b>
</div>
