<div class="pricing text-center">
    <b>Try before you buy - you can fully evaluate ETLBox 45 days completely free!</b>
    <a href="/support/get-trial/" class="btn btn-primary btn-cta rounded-pill mx-5">Get your trial key</a>
</div>

<div class="pricing row gx-0">
    <div class="col m-md-3">
        <div class="card">
            <div class="card-header text-center personal">
                PERSONAL
            </div>
            <div class="card-body">
                <div class="plan-features">
                    <h5>Features</h5>
                    <ul>
                        <li>Try before you buy</li>
                        <li>All components & functionalites included</li>
                        <li>Limited to 5000 rows per data flow</li>
                    </ul>
                    <h5>Licensing</h5>
                    <ul>
                        <li><a href="/product/licenses/standard-eula/">Standard EULA</a></li>
                        <li>Only for testing</li>
                    </ul>
                    <p class="card-comment">Download the <a href="https://www.nuget.org/packages/ETLBox/"
                            target="_blank">ETLBox package</a> availabe at nuget. This public package is limited to
                        5000 rows per data flow.</p>
                </div>
                <div class="plan-price text-center">
                    <h3>Free</h3>
                    <h5>Ideal for testing</h5>
                    <a href="/support/get-trial/"
                        class="btn btn-primary btn-cta rounded-pill">Try now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col m-md-3">
        <div class="card">
            <div class="card-header text-center startup">
                STARTUP
            </div>
            <div class="card-body">
                <div class="plan-features">
                    <h5>Features</h5>
                    <ul>
                        <li><b>One</b> developer license</li>
                        <li>Unlimited servers/environments</li>
                        <li>Dedicated support</li>
                    </ul>
                    <h5>Licensing</h5>
                    <ul>
                        <li><a href="/product/licenses/standard-eula/">Standard EULA</a></li>
                        <li>Company-wide use</li>
                    </ul>
                    <h5>Purchasing options</h5>
                    <ul>
                        <li>Credit Card</li>
                        <li>PayPal</li>
                        <li>Wire transfer </li>
                        <li>Invoice / Purchase order</li>
                    </ul>
                </div>
                <div class="plan-price text-center">
                    <h3>599 €</h3>
                    <h5>per developer / year</h5>
                    <a href="/support/contact/purchase/" class="btn btn-light btn-cta rounded-pill my-1">Request purchase</a>
                    <a href="https://etlbox.app/Checkout/StartupLicense/" class="btn btn-primary btn-cta rounded-pill">Buy now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col m-md-3">
        <div class="card">
            <div class="card-header text-center business">
                BUSINESS
            </div>
            <div class="card-body">
                <div class="plan-features">
                    <h5>Features</h5>
                    <ul>
                        <li>Up to <b>3</b> developers</li>
                        <li>Unlimited servers/environments</li>
                        <li>1h premium support</li>
                        <li>Remote training session</li>
                        <li>Chargable option: Source code access</li>
                    </ul>
                    <h5>Licensing</h5>
                    <ul>
                        <li><a href="/product/licenses/standard-eula/">Standard EULA</a></li>
                        <li>Company-wide use</li>
                    </ul>
                    <h5>Purchasing options</h5>
                    <ul>
                        <li>Credit Card</li>
                        <li>PayPal</li>
                        <li>Wire transfer</li>
                        <li>Invoice / Purchase order</li>
                    </ul>
                </div>
                <div class="plan-price text-center">
                    <h3>999 €</h3>
                    <h5>&lt; 3 developer / year</h5>
                    <a href="/support/contact/purchase/" class="btn btn-light btn-cta rounded-pill my-1">Request purchase</a>
                    <a href="https://etlbox.app/Checkout/BusinessLicense/" class="btn btn-primary btn-cta rounded-pill">Buy now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pricing row gx-0">

    <div class="col m-md-3">
        <div class="card">
            <div class="card-header text-center company">
                COMPANY
            </div>
            <div class="card-body">
                <div class="plan-features">
                    <h5>Features</h5>
                    <ul>
                        <li>Up to <b>6</b> developers</li>
                        <li>Unlimited servers/environments</li>
                        <li>2h premium support</li>
                        <li>Remote training session</li>
                        <li>Chargable option: Source code access</li>
                    </ul>
                    <h5>Licensing</h5>
                    <ul>
                        <li><a href="/product/licenses/standard-eula/">Standard EULA</a></li>
                        <li>Company-wide use</li>
                    </ul>
                    <h5>Purchasing options</h5>
                    <ul>
                        <li>Credit Card</li>
                        <li>PayPal</li>
                        <li>Wire transfer</li>
                        <li>Invoice / Purchase order</li>
                    </ul>
                </div>
                <div class="plan-price text-center">
                    <h3>1699 €</h3>
                    <h5>&lt; 6 developer / year</h5>
                    <a href="/support/contact/purchase/" class="btn btn-light btn-cta rounded-pill my-1">Request purchase</a>
                    <a href="https://etlbox.app/Checkout/CompanyLicense" class="btn btn-primary btn-cta rounded-pill">Buy now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col m-md-3">
        <div class="card">
            <div class="card-header text-center enterprise">
                ENTERPRISE
            </div>
            <div class="card-body">
                <div class="plan-features">
                    <h5>Features</h5>
                    <ul>
                        <li><b>Unlimited</b> developers</li>
                        <li>Unlimited servers/environments</li>
                        <li>Dedicated support</li>
                        <li>Remote training session</li>
                        <li>10h premium support package</li>
                        <li>Chargable option: Source code access</li>
                    </ul>
                    <h5>Licensing</h5>
                    <ul>
                        <li><a href="/product/licenses/standard-eula/">Standard EULA</a></li>
                        <li>Company-wide use</li>
                    </ul>
                    <h5>Purchasing options</h5>
                    <ul>
                        <li>Credit Card</li>
                        <li>PayPal</li>
                        <li>Wire transfer</li>
                        <li>Invoice / Purchase order</li>
                    </ul>
                </div>
                <div class="plan-price text-center">
                    <h3>Request a quote</h3>
                    <h5>per organization / year</h5>
                    <a href="/support/contact/purchase/" class="btn btn-light btn-cta rounded-pill my-1">Request purchase</a>
                    <a href="/support/options/" class="btn btn-primary btn-cta rounded-pill">Contact us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col m-md-3">
        <div class="card">
            <div class="card-header text-center redistributable">
                REDISTRIBUTABLE
            </div>
            <div class="card-body">
                <div class="plan-features">
                    <h5>Features</h5>
                    <ul>
                        <li>For shipping products with ETLBox to customers</li>
                        <li>All license checks removed</li>
                        <li>Use of ETLBox is hidden for your customers</li>
                        <li>No back-linking or mentioning of ETLBox</li>
                        <li>Dedicated support</li>
                        <li>Remote training session</li>
                        <li>Included: Source  code access</li>
                    </ul>
                    <h5>Licensing</h5>
                    <ul>
                        <li><a href="/product/licenses/royality-free-eula/">Royality-free EULA</a></li>
                        <li>Annual vendor license</li>
                    </ul>
                    <h5>Purchasing options</h5>
                    <ul>
                        <li>Credit Card</li>
                        <li>PayPal</li>
                        <li>Wire transfer</li>
                        <li>Invoice / Purchase order</li>
                    </ul>
                </div>
                <div class="plan-price text-center">
                    <h3>Request a quote</h3>
                    <h5>per customer / year</h5>
                    <a href="/support/contact/purchase/" class="btn btn-light btn-cta rounded-pill my-1">Request purchase</a>
                    <a href="/support/options/" class="btn btn-primary btn-cta rounded-pill">Contact us</a>
                </div>
            </div>
        </div>
    </div>

</div>
