.alert {  
  font-size: $font-size-md;
}

.alert-icon {
  margin-right: 0.75rem;
}

.alert {
  margin: 2rem -1.5rem;
}

.alert .alert-link {
  text-decoration: underline;
}

.alert-warning {
  background: $beige;
  color: $black;
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: none;
}

/*
.alert-dark {
  color: $white;
  background-color: $black;
}

.alert-dark .alert-link {
  color: $white;
}

.alert-light {
  color: $black;
}


.alert-white {
  background-color: rgba(255, 255, 255, 0.95);
}

.alert-primary {
  color: $white;
  background-color: $primary;
}

.alert-primary .alert-link {
  color: $white;
}


*/