<div class="card bg-light border w-100">
  <div class="row g-0">
    <!-- Left Column: 10 of 16 -->
    <div class="col-10 text-start">
      <div class="card-body">
        <h5 class="card-title">Explore Our Blog</h5>
        <p class="card-text small">
          Dive into our latest articles on data integration and ETL processes. Our insights are also featured on various platforms, showcasing our expertise in real-world scenarios.
        </p>
      </div>
    </div>
    <!-- Right Column: 6 of 16 -->
    <div class="col-6 border-start text-start">
      <div class="card-body">
        <h5 class="card-title">Featured On</h5>
        <ul class="list-unstyled mb-0">
          <li><i class="bi bi-chevron-right me-1"></i><a href="https://dev.to/andreaslennartz" target="_blank" rel="noopener noreferrer"> <i class="small bi-box-arrow-up-right"></i>&nbsp; DEV Community</a></li>
          <li><i class="bi bi-chevron-right me-1"></i><a href="https://medium.com/@andreas.lennartz" target="_blank" rel="noopener noreferrer"> <i class="small bi-box-arrow-up-right"></i>&nbsp; Medium</a></li>
          <li><i class="bi bi-chevron-right me-1"></i><a href="https://csharpdigest.net/" target="_blank" rel="noopener noreferrer"> <i class="small bi-box-arrow-up-right"></i>&nbsp; C# Digest</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
