@import "common/bootstrap-icons";
@import "common/pricing";
@import "common/home";
@import "common/landing";
@import "common/api-docs";

@import "glide/glide.core";
@import "glide/glide.theme";
//@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

//Workaround for missing dark mode for mermaid diagrams
.diagram {
  border-radius: 0.375rem !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important; // Darker border for light mode
  background-color: hsl(210, 17%, 98%) !important;
  padding: 1rem;
}
@include color-mode(dark) {
  .diagram {
    background-color: hsla(210, 20%, 98%, 0.6) !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important; // Light border for dark mode
    padding: 1rem;
  }
}


//Custom fonts
@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Light"),
      url("/fonts/segoe-ue/light/latest.woff2") format("woff2"),
      url("/fonts/segoe-ue/light/latest.woff") format("woff"),
      url("/fonts/segoe-ue/light/latest.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semilight"),
      url("/fonts/segoe-ue/semilight/latest.woff2") format("woff2"),
      url("/fonts/segoe-ue/semilight/latest.woff") format("woff"),
      url("/fonts/segoe-ue/semilight/latest.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI"),
      url("/fonts/segoe-ue/normal/latest.woff2") format("woff2"),
      url("/fonts/segoe-ue/normal/latest.woff") format("woff"),
      url("/fonts/segoe-ue/normal/latest.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Semibold"),
    url("/fonts/segoe-ue/semibold/latest.woff2") format("woff2"),
    url("/fonts/segoe-ue/semibold/latest.woff") format("woff"),
    url("/fonts/segoe-ue/semibold/latest.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Bold"),
    url("/fonts/segoe-ue/bold/latest.woff2") format("woff2"),
    url("/fonts/segoe-ue/bold/latest.woff") format("woff"),
    url("/fonts/segoe-ue/bold/latest.ttf") format("truetype");
  font-weight: 700;
}

