.alteredColor {
    background: #f3f3f3;
}

@include color-mode(dark) {
    .alteredColor {
        background: $gray-700 !important;
    }
}



.embedVideo video {
    width: 95%;
    padding-bottom: 2rem;

    @include media-breakpoint-up(lg) {
        width: 50%;
      }
}


#testimonials {
    height: 10vw;

    img {
        width: 50%;

    @include media-breakpoint-up(lg) {
        width: 30%;
      }
    }
}


.nowrap-code {
    white-space: pre-wrap;
    overflow: auto;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}


// .overlay-box {
//     position: absolute;
//     bottom: 0; /* Ensure the box is positioned at the bottom */
//     left: 0;
//     width: 100%;
//     padding: 10px;
//     color: white;
//     font-weight: bold;
//     z-index: 1;
//   }
.overlay-box {
    position: relative; /* Change to relative to avoid overlapping */

    font-weight: bold;
    z-index: 1;
  }

/* When embedding video via iFrame, use this
 https://css-tricks.com/fluid-width-video/
.embedVideo {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.embedVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

