.alteredColor {
    background: #f3f3f3;
}

@include color-mode(dark) {
    .alteredColor {
        background: $gray-700 !important;
    }
}



.embedVideo video {
    width: 95%;
    padding-bottom: 2rem;

    @include media-breakpoint-up(lg) {
        width: 50%;
    }
}


#testimonials {
    height: 10vw;

    img {
        width: 50%;

        @include media-breakpoint-up(lg) {
            width: 30%;
        }
    }
}


.nowrap-code {
    white-space: pre-wrap;
    overflow: auto;
}


.light-mode-image {
    display: block;
}

.dark-mode-image {
    display: none;
}


@include color-mode(dark) {
    .light-mode-image {
        display: none;
    }

    .dark-mode-image {
        display: block;
    }
}

.overlay-box {
    position: relative;
    font-weight: bold;
    z-index: 1;
}

.fixed-size-logo {
    width: 15rem; /* Einheitliche Breite */
    height: 4rem; /* Einheitliche Höhe */
    object-fit: contain; /* Skaliert das Bild und schneidet es, falls nötig */
  }
