.pricing .card {
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: transform 0.3s;
  font-size: medium;
}

.pricing h5 {
  margin-top: 0.8rem;
}

.pricing .card:hover {
  transform: scale(1.025);
}

.pricing .card-header {
  font-size: larger;
  color: white;
}

.pricing .card-body {
  padding: 0 1.2rem 0.8rem;
}

.pricing .card-comment {
  font-size: small;
}

.pricing .personal {
  background-color: rgb(170, 170, 170);
}

.pricing .company {

  background-color: rgb(120, 206, 86);
}

.pricing .redistributable {
  background-color: rgb(89, 173, 166);
}

.pricing .plan-price {
  border-top: solid 1px #ddd;
}

.pricing .plan-features {
  border-top: solid 1px #ddd;
}
