  <div class="row justify-content-center gap-4 my-4">
      <!-- Address & Contact Card -->
      <div class="col-xl-7 col-md-10 col-16">
          <div class="card bg-light p-4 h-100">
              <div class="text-center">
                  <i class="bi-envelope fs-1"></i>
                  <h5 class="fw-bold mt-2">Address & Contact</h5>
              </div>
              <div class="row mt-3">
                  <div class="col-7 fw-bold text-end">Company:</div>
                  <div class="col-9 text-start">ETLBoxperts GmbH</div>
              </div>
              <div class="row">
                  <div class="col-7 fw-bold text-end">Address:</div>
                  <div class="col-9 text-start">
                      Landsberger Str. 218<br>
                      12623 Berlin<br>
                      Germany
                  </div>
              </div>
              <div class="row">
                  <div class="col-7 fw-bold text-end">Phone:</div>
                  <div class="col-9 text-start">+49 30 72621 1087</div>
              </div>
              <div class="row">
                  <div class="col-7 fw-bold text-end">Email:</div>
                  <div class="col-9 text-start"><a href="mailto:mail@etlbox.net">mail@etlbox.net</a></div>
              </div>
          </div>
      </div>

      <!-- Legal Information Card -->
      <div class="col-xl-7 col-md-10 col-16">
          <div class="card bg-light p-4 h-100">
              <div class="text-center">
                  <i class="bi-file-earmark-text fs-1"></i>
                  <h5 class="fw-bold mt-2">Legal Information</h5>
              </div>
              <div class="row mt-3">
                  <div class="col-8 fw-bold text-end">Registration Number:</div>
                  <div class="col-8 text-start">HRB 263153 B</div>
              </div>
              <div class="row">
                  <div class="col-8 fw-bold text-end">Registered in:</div>
                  <div class="col-8 text-start">Berlin (Charlottenburg)</div>
              </div>
              <div class="row">
                  <div class="col-8 fw-bold text-end">VAT Number:</div>
                  <div class="col-8 text-start">DE368638493</div>
              </div>
              <div class="row">
                <div class="col-8 fw-bold text-end">Managing Director:</div>
                <div class="col-8 text-start">Andreas Lennartz</div>
            </div>
          </div>
      </div>
  </div>
