<div class="contact row gx-0">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h1><i class="bi-chat-square-text"></i></h1>
                    <h5>Helpdesk</h5>
                    <p>Use our Jira helpdesk for all kind of requests: license questions, feature requests, bug report, and anything else.</p>
                    <p><a class="btn btn-primary btn-cta rounded-pill" href="https://etlbox.atlassian.net/servicedesk/customer/portal/1" target="_blank">Open helpdesk <i class="bi-box-arrow-up-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h1><i class="bi-card-text"></i></h1>
                    <h5>Contact Form</h5>
                    <p>Fill out this contact formular, and we will get back to you in no time!</p>
                    <br />
                    <p><a class="btn btn-primary btn-cta rounded-pill" href="/support/contact/form/">Go to the form</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h1><i class="bi-mailbox"></i></h1>
                    <h5>Mail</h5>
                    <p>Just send us an email to support&commat;etlbox&period;net
                        - looking forward to hearing from you!
                    </p>
                    <br />
                    <p><a class="btn btn-primary btn-cta rounded-pill" href="mailto:support%40etlbox&period;net">Write mail</a></p>
                </div>
            </div>
        </div>
    </div>


</div>
