<div id="discount-signup" class="card mt-5">
  <div class="card-body alert alert-info">
    <h5 class="card-title">Get 10% Off</h5>
    <p class="card-text">Enter your email to receive a 10% discount code.</p>

<form name="discount" method="POST" data-netlify="true" action="/support/discount/success-code">
  <div class="mb-3">
    <input type="email" class="form-control" id="email" name="discountemail" placeholder="Your email" required>
  </div>
  <button type="submit" class="btn btn-primary">Claim Discount</button>
</form>

  </div>
</div>
