<div class="pricing text-center">
    <b>Try before you buy - evaluate ETLBox for 45 days completely free!</b>
    <a href="/product/getting-started/get-trial/" class="btn btn-primary btn-cta rounded-pill m-3">Get your trial
        key</a>
</div>

<div class="pricing row gx-0 justify-content-center">
    <!-- Personal Use and Testing -->
    <div class="col-md-5 m-2 d-flex justify-content-center">
        <div class="card">
            <div class="card-header text-center personal">
                <b>FREE</b><br />
                <div class="small">Personal Use and Testing</div>
            </div>
            <div class="card-body">
                <p class="mt-2">Use ETLBox as a developer to experience and test all of its functionality.
                </p>
                <div class="plan-price text-center">
                    <h3>Free</h3>
                    <h6>Ideal for testing</h6>
                    <a href="/product/getting-started/get-trial/" class="btn btn-light btn-cta rounded-pill my-1">Try now</a><br />
                    <a href="/support/options/" class="btn btn-light mt-2 btn-cta rounded-pill">Contact us</a>
                </div>
                <div class="plan-features mt-3">
                    <h6>Features</h6>
                    <ul>
                        <li>Perfect for individual developers to explore and test ETLBox</li>
                        <li>All components and functionalities included</li>
                        <li>Limited to 5000 rows per data flow</li>
                    </ul>
                    <h6>Licensing</h6>
                    <ul>
                        <li><a href="/support/eula/standard-eula/">Standard EULA</a></li>
                        <li>Only for testing and evaluation</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Company-Wide Use -->
    <div class="col-md-5 m-2 d-flex justify-content-center">
        <div class="card">
            <div class="card-header text-center company">
                <b>COMPANY</b><br />
                <div class="small">Company-Wide Use</div>
            </div>
            <div class="card-body">
                <p class="mt-2">Use ETLBox in all your developments inside your company.</p>
                <div class="plan-price text-center">
                    <h3>Starting at 599 €</h3>
                    <h6>per developer / year</h6>
                    <a href="/support/contact/purchase/"
                        class="btn btn-success btn-cta rounded-pill my-1">Purchase</a><br />
                    <a href="/support/options/" class="btn btn-light mt-2 btn-cta rounded-pill">Contact us</a>
                </div>
                <div class="plan-features mt-3">
                    <h6>Features</h6>
                    <ul>
                        <li>Licensed by developer</li>
                        <li>Unlimited application and server installations of software</li>
                        <li>Company-wide use of ETLBox</li>
                    </ul>
                    <h6>Licensing</h6>
                    <ul>
                        <li><a href="/support/eula/standard-eula/">Standard EULA</a></li>
                        <li>New license key provided annually</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Redistributable -->
    <div class="col-md-5 m-2 d-flex justify-content-center">
        <div class="card">
            <div class="card-header text-center redistributable">
                <b>ENTERPRISE OEM</b><br />
                <div class="small">Redistributable</div>
            </div>
            <div class="card-body">
                <p class="mt-2">Redistributable ETLBox for integration into your software products.</p>
                <div class="plan-price text-center">
                    <h3>Request a quote</h3>
                    <h6>per customer / year</h6>
                    <a href="/support/contact/purchase/"
                        class="btn btn-success btn-cta rounded-pill my-1">Purchase</a><br />
                    <a href="/support/options/" class="btn btn-light mt-2 btn-cta rounded-pill">Contact us</a>
                </div>
                <div class="plan-features mt-3">
                    <h6>Features</h6>
                    <ul>
                        <li>Integrate ETLBox functionality into your software products.</li>
                        <li>Source code access included</li>
                        <li>Redistribution rights for ETLBox packages in your own products</li>
                        <li>No back-linking or mentioning of ETLBox</li>
                    </ul>
                    <h6>Licensing</h6>
                    <ul>
                        <li>Licensed by number of customers.</li>
                        <li><a href="/support/eula/redistribution-eula/">Redistribution EULA</a></li>
                        <li>Annual vendor license</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
