<form name="purchase-form" method="POST" data-netlify="true" action="/support/contact/success" class="container mt-4">

    <div class="mb-3 h5">Contact Information</div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="email">e-Mail <span class="text-danger">(*)</span>:</label>
        <div class="col-md-8">
            <input class="form-control" type="email" id="email" name="contactemail" placeholder="Enter email" required>
            <div class="invalid-feedback">Please enter a valid email.</div>
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="name">Name <span class="text-danger">(*)</span>:</label>
        <div class="col-md-8">
            <input class="form-control" type="text" id="name" name="contactname" placeholder="Enter your name" required>
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="company">Company <span class="text-danger">(*)</span>:</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="company" name="company" placeholder="Enter your company name"
                required>
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="vat">VAT Number:</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="vat" name="vat" placeholder="(EU companies only)">
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="phone">Phone Number:</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="phone" name="phone"
                placeholder="Your phone number (including country prefix)">
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="address">Address <span class="text-danger">(*)</span>:</label>
        <div class="col-md-8">
            <textarea class="form-control" rows="4" name="address" id="address" placeholder="Your address"
                required></textarea>
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="country">Country <span class="text-danger">(*)</span>:</label>
        <div class="col-md-8">
            <select id="country" name="country" required>
                <option value="">Select your country</option>
                <option>Afghanistan</option>
                <option>Albania</option>
                <option>Algeria</option>
                <option>Andorra</option>
                <option>Angola</option>
                <option>Antigua and Barbuda</option>
                <option>Argentina</option>
                <option>Armenia</option>
                <option>Australia</option>
                <option>Austria</option>
                <option>Azerbaijan</option>
                <option>Bahamas</option>
                <option>Bahrain</option>
                <option>Bangladesh</option>
                <option>Barbados</option>
                <option>Belarus</option>
                <option>Belgium</option>
                <option>Belize</option>
                <option>Benin</option>
                <option>Bhutan</option>
                <option>Bolivia</option>
                <option>Bosnia and Herzegovina</option>
                <option>Botswana</option>
                <option>Brazil</option>
                <option>Brunei</option>
                <option>Bulgaria</option>
                <option>Burkina Faso</option>
                <option>Burundi</option>
                <option>Cabo Verde</option>
                <option>Cambodia</option>
                <option>Cameroon</option>
                <option>Canada</option>
                <option>Central African Republic</option>
                <option>Chad</option>
                <option>Chile</option>
                <option>China</option>
                <option>Colombia</option>
                <option>Comoros</option>
                <option>Congo (Brazzaville)</option>
                <option>Congo (Kinshasa)</option>
                <option>Costa Rica</option>
                <option>Croatia</option>
                <option>Cuba</option>
                <option>Cyprus</option>
                <option>Czech Republic</option>
                <option>Denmark</option>
                <option>Djibouti</option>
                <option>Dominica</option>
                <option>Dominican Republic</option>
                <option>Ecuador</option>
                <option>Egypt</option>
                <option>El Salvador</option>
                <option>Equatorial Guinea</option>
                <option>Eritrea</option>
                <option>Estonia</option>
                <option>Eswatini</option>
                <option>Ethiopia</option>
                <option>Fiji</option>
                <option>Finland</option>
                <option>France</option>
                <option>Gabon</option>
                <option>Gambia</option>
                <option>Georgia</option>
                <option>Germany</option>
                <option>Ghana</option>
                <option>Greece</option>
                <option>Grenada</option>
                <option>Guatemala</option>
                <option>Guinea</option>
                <option>Guinea-Bissau</option>
                <option>Guyana</option>
                <option>Haiti</option>
                <option>Honduras</option>
                <option>Hungary</option>
                <option>Iceland</option>
                <option>India</option>
                <option>Indonesia</option>
                <option>Iran</option>
                <option>Iraq</option>
                <option>Ireland</option>
                <option>Israel</option>
                <option>Italy</option>
                <option>Jamaica</option>
                <option>Japan</option>
                <option>Jordan</option>
                <option>Kazakhstan</option>
                <option>Kenya</option>
                <option>Kiribati</option>
                <option>Kuwait</option>
                <option>Kyrgyzstan</option>
                <option>Laos</option>
                <option>Latvia</option>
                <option>Lebanon</option>
                <option>Lesotho</option>
                <option>Liberia</option>
                <option>Libya</option>
                <option>Liechtenstein</option>
                <option>Lithuania</option>
                <option>Luxembourg</option>
                <option>Madagascar</option>
                <option>Malawi</option>
                <option>Malaysia</option>
                <option>Maldives</option>
                <option>Mali</option>
                <option>Malta</option>
                <option>Marshall Islands</option>
                <option>Mauritania</option>
                <option>Mauritius</option>
                <option>Mexico</option>
                <option>Micronesia</option>
                <option>Moldova</option>
                <option>Monaco</option>
                <option>Mongolia</option>
                <option>Montenegro</option>
                <option>Morocco</option>
                <option>Mozambique</option>
                <option>Myanmar (Burma)</option>
                <option>Namibia</option>
                <option>Nauru</option>
                <option>Nepal</option>
                <option>Netherlands</option>
                <option>New Zealand</option>
                <option>Nicaragua</option>
                <option>Niger</option>
                <option>Nigeria</option>
                <option>North Macedonia</option>
                <option>Norway</option>
                <option>Oman</option>
                <option>Pakistan</option>
                <option>Palau</option>
                <option>Panama</option>
                <option>Papua New Guinea</option>
                <option>Paraguay</option>
                <option>Peru</option>
                <option>Philippines</option>
                <option>Poland</option>
                <option>Portugal</option>
                <option>Qatar</option>
                <option>Romania</option>
                <option>Russia</option>
                <option>Rwanda</option>
                <option>Saint Kitts and Nevis</option>
                <option>Saint Lucia</option>
                <option>Saint Vincent and the Grenadines</option>
                <option>Samoa</option>
                <option>San Marino</option>
                <option>Sao Tome and Principe</option>
                <option>Saudi Arabia</option>
                <option>Senegal</option>
                <option>Serbia</option>
                <option>Seychelles</option>
                <option>Sierra Leone</option>
                <option>Singapore</option>
                <option>Slovakia</option>
                <option>Slovenia</option>
                <option>Solomon Islands</option>
                <option>Somalia</option>
                <option>South Africa</option>
                <option>South Korea</option>
                <option>South Sudan</option>
                <option>Spain</option>
                <option>Sri Lanka</option>
                <option>Sudan</option>
                <option>Suriname</option>
                <option>Sweden</option>
                <option>Switzerland</option>
                <option>Syria</option>
                <option>Taiwan</option>
                <option>Tajikistan</option>
                <option>Tanzania</option>
                <option>Thailand</option>
                <option>Timor-Leste</option>
                <option>Togo</option>
                <option>Tonga</option>
                <option>Trinidad and Tobago</option>
                <option>Tunisia</option>
                <option>Turkey</option>
                <option>Turkmenistan</option>
                <option>Tuvalu</option>
                <option>Uganda</option>
                <option>Ukraine</option>
                <option>United Arab Emirates</option>
                <option>United Kingdom</option>
                <option>United States</option>
                <option>Uruguay</option>
                <option>Uzbekistan</option>
                <option>Vanuatu</option>
                <option>Vatican City</option>
                <option>Venezuela</option>
                <option>Vietnam</option>
                <option>Yemen</option>
                <option>Zambia</option>
                <option>Zimbabwe</option>
            </select>
        </div>
    </div>

    <div class="mb-3 h5">Payment</div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="paymentmethod">Payment Method: </label>
        <div class="col-md-8">
            <select class="form-select" id="paymenttype" name="payment" required>
                <option value="creditcard">Credit Card</option>
                <option value="creditcard">Direct Debit</option>
                <option value="paypal">PayPal</option>
                <option value="banktransfer">Wire/Bank Transfer</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-8 offset-md-4 small text-muted">
            We offer domestic/local bank accounts in: Europe (SEPA), U.S., U.K, Australia.
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="message">Remarks:</label>
        <div class="col-md-8">
            <textarea class="form-control" rows="4" id="message" name="contactmessage"
                placeholder="Enter additional instructions"></textarea>
        </div>
    </div>

    <div class="mb-3 h5">License Configuration</div>

    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="licensetype">License Type: </label>
        <div class="col-md-8">
            <select class="form-select" id="licensetype" name="licensetype" required>
                <option value="purchasecompany">COMPANY license</option>
                <option value="purchaseenterprise">ENTERPRISE OEM license</option>
            </select>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-8 offset-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isSaaS" name="isSaaS">
                <label class="form-check-label small" for="isSaaS">
                    I offer a SaaS-based solution
                </label>
            </div>
        </div>
    </div>


    <div class="row mb-2">
        <label class="col-md-4 col-form-label" for="developers">Number of Developers:</label>
        <div class="col-md-8">
            <input type="range" class="form-range" id="developers" name="developers" min="0" max="9" step="1" value="0">
            <div class="small text-muted mt-1">
                <span id="developers-value">1</span> developers
            </div>
        </div>
    </div>

    <div class="row mb-2" id="customers-row">
        <label class="col-md-4 col-form-label" for="customers">Estimated Number of Customers:</label>
        <div class="col-md-8">
            <input type="range" class="form-range" id="customers" name="customers" min="0" max="9" step="1" value="0">
            <div class="small text-muted mt-1">
                <span id="customers-value">10</span> customers
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-8 offset-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="smallCompany" name="smallCompany">
                <label class="form-check-label small" for="smallCompany">
                    I qualify for the Small-Company Discount (< 1 M € annual revenue) </label>
            </div>
        </div>
    </div>

    <div class="row mb-4" id="price-row">
        <div class="col-md-8 offset-md-4">
          <div class="border rounded p-3 d-flex justify-content-between align-items-center">
            <div class="h5 fw-semibold text-primary mb-0">Total Price</div>
            <div class="display-6 fw-bold mb-0" id="license-price">€ 999</div>
          </div>
        </div>
      </div>

      <div class="row mb-4" id="vat-info-row">
        <div class="col-md-8 offset-md-4 small text-muted" id="vat-info">
          Total without VAT (Reverse charge may apply)
        </div>
      </div>

    <div class="row mb-2 mt-5" id="pay-now-text">
        <div class="col-md-8 offset-md-4 text-muted">
            <b>You can now click the button below to proceed with your payment.</b><br /><br />
            You will be redirected to our secure payment provider <a href="https://stripe.com"
                target="_blank">Stripe</a>.
            After completing the payment, your license key will be sent to you automatically by email.
        </div>
    </div>

    <div class="row" id="pay-now-button">
        <div class="col-md-8 offset-md-4 mt-2">
            <button type="submit" class="btn btn-primary rounded-pill btn-lg">
                Pay Now <i class="bi-credit-card"></i>
            </button>
        </div>
    </div>

    <div class="row mb-2 mt-5" id="request-text">
        <div class="col-md-8 offset-md-4 text-muted">
            <b>Your request will be reviewed before payment.</b><br /><br />
            Please click the button below to submit your purchase request.
            We will review your details and get back to you shortly.
        </div>
    </div>

    <div class="row" id="request-button">
        <div class="col-md-8 offset-md-4">
            <button type="submit" class="btn btn-primary rounded-pill btn-lg">Request Purchase <i
                    class="bi-envelope"></i></button>
        </div>
    </div>
</form>
