<form class="contactforms" name="purchase-form" method="POST" data-netlify="true" action="/support/contact/success">
    <div class="row form-group">
        <label class="col-sm-3" for="email">Your e-Mail (required)</label>
        <div class="col-sm-7">
            <input class="form-control" type="email" id="email" name="contactemail" placeholder="Enter email"
                required="required" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-sm-3" for="name">Your Name (required)</label>
        <div class="col-sm-7">
            <input class="form-control" type="text" id="name" name="contactname" placeholder="Enter your name"
                required="required" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-sm-3" for="company">Company name (required)</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="company"  name="company" placeholder="Enter your company name" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-sm-3" for="company">VAT number</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="vat" name="vat" placeholder="Your VAT number (EU companies only)" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-sm-3" for="phone">Your phone number</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Your phone number (including country prefix)" />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-sm-3" for="address">Your address</label>
        <div class="col-sm-7">
            <textarea class="form-control" rows="4" name="address" id="address"  placeholder="Your address and country"></textarea>
        </div>
    </div>

    <div class="row form-group">
        <label class="col-sm-3" for="licensetype">License type (required)</label>
        <div class="col-sm-7">
            <select class="form-control" id="licensetype" name="licensetype" required="required">
                <option name="purchasecompany" value="purchasecompany">COMPANY license</option>
                <option name="purchaseenterprise" value="purchaseenterprise">ENTERPRISE OEM license</option>
            </select>
        </div>
    </div>

     <div class="row form-group">
        <label class="col-sm-3" for="paymentmethod">Payment method</label>
        <div class="col-sm-7">
            <select class="form-control" id="paymenttype" name="payment">
                <option name="creditcard" value="creditcard">Credit Card</option>
                <option name="paypal" value="paypal">Paypal</option>
                <option name="banktransfer" value="banktransfer">Wire Transfer</option>
                <option name="other" value="other">Other</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7"><small>
            Please note that you don't need to enter your payments details yet.
            We will first need to verify your request, and get back to you with an invoice containing the payment
            details.
            Payments with credit card will be handled via our 3rd party payment provider <a
                href="https://stripe.com" target="_blank">Stripe</a>.
            </small>
        </div>
    </div>


    <div class="row form-group">
        <label class="col-sm-3" for="message">Additional instructions</label>
        <div class="col-sm-7">
            <textarea class="form-control" rows="10" id="message" name="contactmessage"
                placeholder="Enter additional instructions"></textarea>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <button type="submit" class="btn btn-primary btn-cta rounded-pill btn-lg">Request purchase <i class="bi-envelope"></i></button>
        </div>
    </div>
</form>
