<div class="container">

    <div class="my-5">
        <p class="lead">See why ETLBox is the best C# library for ETL operations with a free trial of our powerful library. Our trial license gives you full access to all of ETLBox's features, so you can test drive the library and see how it can streamline your data processing tasks.</p>
      </div>
    </div>

    <div class="row justify-content-evenly">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Add ETLBox packages on nuget.org
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nuget - free until 5000 rows</h5>
                    <p class="card-text">Get started instanstly by adding the publicly available NuGet packages to your
                        project.
                        If you don’t exceed the limit of 5000 rows per dataflow, everything will work out of the box. Please note that
                        using ETLBox without license is for testing only.
                    </p>
                    <p class="text-center">
                        <img src="NuGet_project_logo.svg" width="38" alt="NuGet"> <b>NuGet.org</b>
                    </p>
                    <p class="text-center">
                    <a href="https://www.nuget.org/profiles/ETLBox" target="_blank" rel="noopener" class="btn btn-secondary btn-cta rounded-pill">
                        <i class="bi-box-arrow-up-right"></i> See all packages on
                        nuget</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Unlock unlimited testing
                </div>
                <div class="card-body">
                    <h5 class="card-title">Get trial key</h5>
                    <p class="card-text">For unlimited testing, simply click on the link below to access the trial form
                        and get your trial license instantly. After registering the trial license key, the 5000 rows per
                        DataFlow restriction on the publicly available nuget package is removed.</p>
                    <p class="text-center mt-4">
                        <img src="logo_etlbox_64x64.svg" width="38" alt="ETLBox Portal"> <b>ETLBox Portal</b>
                    </p>
                    <p class="text-center"><a href="https://etlbox.app" target="_blank" rel="noopener"  class="btn btn-primary btn-cta rounded-pill my-2">
                        <i class="bi-box-arrow-up-right"></i>
                        Open the ETLBox trial registration form</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="my-5 text-center">
            <p><b>Don't miss this opportunity to streamline your ETL operations with this powerful and versatile software library.</b>
            </p>
        </div>
    </div>
</div>
