{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>
        <img src="/logos/svg/logo_etlbox_76x76.svg" alt="ETLBox" width="76" height="76" />
        {{ .Title }}
      </h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/getting-started/quick-start"
        role="button">{{ i18n "get-started" }}</a>
      <p>
        <a href="/support/get-trial/">Try for free.</a>
        Get commercial licenses at <a href="/support/pricing/">low rates</a>.
      </p>
    </div>
  </div>
</section>
{{ if site.Params.doks.backgroundDots -}}
<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>
{{ end -}}
{{ end }}



{{ define "sidebar-prefooter" }}
<section class="section section-sm alteredColor">
  <div class="container my-4">
    <div class="text-center">
      <h1><i class="bi-info-square"></i></h1>
    </div>

    <div class="row">
      <div class="col-lg-5 col-md-8">
        <h2 class="h4"><i class="bi-toggles"></i>&nbsp;Highly customizable</h2>
        <p>
          Tired of using User Interfaces where complex requirements are almost
          impossible to implement? With ETLBox it's easy to write code that fits
          your unique needs. Plug in your own logic or modify existing behavior
          to your specific requirements.
        </p>
      </div>
      <div class="col-lg-5 col-md-8">
        <h2 class="h4">
          <i class="bi-bezier2"></i>&nbsp;Test driven data flows
        </h2>
        <p>
          Always wanted to create your ETL jobs test driven? Still wondering if your data flow will still work
          after you latest change?
          Look no further. ETLBox integrates with all common test framework like xUnit, NUnit
          or MSTest. Now you can write test for any part or logic of your data pipeline.
        </p>
      </div>
      <div class="col-lg-5 col-md-8">
        <h2 class="h4"><i class="bi-laptop"></i>&nbsp;Develop locally</h2>
        <p>
          Use the toolset that you and your
          team is already familiar with. Develop your data pipeline locally with your
          favorite development and debugging tools. No need to learn a new programming language.
        </p>
      </div>

      <div class="col-lg-5 col-md-8">
        <h2 class="h4">
          <i class="bi-card-checklist"></i>&nbsp;Manage your changes
        </h2>
        <p>
          Track your changes with Git (or other source code controls), integrate
          with your current code review process and connect with your existing
          CI/CD platform.
        </p>
      </div>
      <div class="col-lg-5 col-md-8">
        <h2 class="h4"><i class="bi-box"></i>&nbsp;Build ETL in .NET</h2>
        <p>
          Code your ETL with your favorite .NET language fitting your team’s
          skills and that is coming with a mature toolset.
        </p>
      </div>
      <div class="col-lg-5 col-md-8">
        <h2 class="h4"><i class="bi-clouds"></i>&nbsp;Runs everywhere</h2>
        <p>
          ETLBox runs on Linux, macOS, and Windows. It is written in the current
          .NET Standard and successfully tested with the latest versions of .NET.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm">
  <div class="container my-4">
    <div class="text-center">
      <h1><i class="bi-code-square"></i></h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5">
        <h2><i class="bi-lightning"></i>&nbsp;Fast and efficient</h2>
        <p>
          <b>Process your data in-Memory:</b><br />
          Code your ETL with your favorite .NET language fitting your team’s
          skills and that is coming with a mature toolset.
        </p>

        <h2><i class="bi-minecart-loaded"></i>&nbsp;Made for big data</h2>
        <p>
          <b>Process any workload:</b><br />
          ETLBox relies on
          <a href="https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/dataflow-task-parallel-library"
            target="_blank" rel="noopener">Microsoft's System.Threading.TPL.Dataflow <i
              class="bi-box-arrow-up-right"></i></a>
          library and is designed to process efficiently big amounts of any
          data.
        </p>

        <h2><i class="bi-intersect"></i>&nbsp;Connect everything</h2>
        <p>
          <b>Process data from anywhere:</b><br />
          ETLBox supports a wide range of Sql & NoSql databases, flat files, web
          services, and more - perfect as a foundation for your tailor made data
          integregation platform.
        </p>
      </div>

      <div class="col-lg-10 offset-1">
        <h2>ETL made easy</h2>
        <p>
          {{ .Content }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm alteredColor">
  <div class="container my-4">
    <div class="text-center">
      <h1><i class="bi-camera-video"></i></h1>
      <h2>Watch our short explainer video</h2>
      <p><a href="https://www.youtube.com/watch/uErssvgjubg" target="_blank" rel="noopener">This video is also available
          on youtube, if you want to like or share it.<i class="bi-box-arrow-up-right"></i></a></p>
    </div>

    <div class="text-center">
      <div class="embedVideo">
        <video controls>
          <source src="videos/etlbox_introduction_with_subtitles.mp4" type="video/mp4">
        </video>
        <!-- Loading video from youtube may violate GDPR! -->
        <!-- <div class="embedVideo">
        <iframe width="560" height="349" title="ETLBox explainer video" src="https://www.youtube.com/embed/uErssvgjubg"
          frameborder="0" allowfullscreen>
        </iframe>
      </div>
      -->
      </div>
    </div>
  </div>
</section>


<section class="section section-sm">
  <div class="text-center my-4">
    <h2>Ask <a href="https://chat.openai.com" target="_blank" rel="noopener">ChatGPT</a> about ETLBox</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-3 col-lg-1 align-self-start">
        <img src="images/AinBox.jpg" height="42" width="42" alt="Andreas" />
      </div>
      <div class="col-13 col-lg-8 align-self-center">Hi ChatGPT, could you give me an introduction into ETLBox?</div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</section>
<section class="section section-sm alteredColor">
  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-3 col-lg-1 align-self-start">
        <img src="images/OpenAI.jpg" height="42" width="42" alt="Andreas" />
      </div>
      <div class="col-13 col-lg-8 align-self-center">
        <p>Yes, of course!</p>

        <p>ETLBox is a commercial, .NET-based library for Extract-Transform-Load (ETL) processes. ETL is a critical
          aspect
          of data management, and is used to extract data from a variety of sources, clean and transform it into a
          desired
          format, and then load it into a target system, such as a data warehouse or a database. ETLBox provides a set
          of
          simple, yet powerful components that can be used to automate these tasks.</p>

        <p>The key benefits of using ETLBox include:</p>

        <ol>
          <li>Simplicity: ETLBox provides an easy-to-use API that makes it simple to implement ETL processes.</li>

          <li>Flexibility: ETLBox supports a wide range of data sources and targets, and provides the ability to
            transform
            data in many ways, such as by performing lookups, splitting columns, and aggregating data.</li>

          <li>Performance: ETLBox is designed for high performance and can handle large amounts of data efficiently.
          </li>

          <li>.NET support: ETLBox is written in C# and is fully integrated with the .NET framework, making it a natural
            choice for developers who are already familiar with .NET.</li>
        </ol>
        In conclusion, ETLBox is a great choice for anyone who needs to implement ETL processes and wants a powerful,
        yet simple, solution that is commercially supported.
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</section>

<section class="section section-sm">
  <div class="container my-4">
    <div class="text-center">
      <h1><i class="bi-lightbulb"></i></h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2>What is ETL</h2>

        <p>
          ETL is the foundation of modern Business Intelligence application. It
          separates the analysis part from everything that comes before it. ETL
          stands for extract, transform and load, and describes a three-step
          process:
        </p>

        <p>
          <em>Extracting</em> data is about acquiring it from a particular
          source and doing so in a way that all relevant data is collected. For
          ETL to work well, data needs to come directly from the source and in
          its rawest form.
        </p>

        <p>
          <em>Transforming</em> data requires it to be stripped of its various
          formats, cleaned and harmonized. Put differently, it needs to become
          easy for the end user to read. Ensuring the highest possible data
          quality is crucial during this process, including detecting and
          removing duplicates and sorting the data into relevant, predetermined
          categories.
        </p>

        <p>
          In the end, your ETL tool will help harmonize your data and
          <em>load</em> it into a target location, which essentially is a
          business intelligence (BI) or database tool of choice. There you can
          find it ready for your analysis.
        </p>
      </div>

      <div class="col-lg-8">
        <h2>ETLBox core concepts</h2>

        <p>
          ETLBox is a powerful and versatile C# library for performing ETL operations. With its simple and intuitive
          API, you can
          quickly and easily extract data from various sources, transform it into the desired format, and load it into
          your target system. Whether you need to move data from one database to another or process large amounts of
          data
          for business intelligence purposes, ETLBox provides a comprehensive set of tools to streamline your work. It's
          highly customizable and flexible, so you can easily adapt it to your specific needs.
        </p>

        <h2>What you can do with ETLBox</h2>

        <p>Here are a few things you can do with ETLBox:</p>

        <ul>
          <li>Convert incoming data to a common format.</li>
          <li>Prepare data for analysis and visualization.</li>
          <li>Migrate between databases.</li>
          <li>
            Share data processing logic across web apps, batch jobs, and APIs.
          </li>
          <li>Power your data ingestion and integration tools.</li>
          <li>Consume large CSV, Excel or Json files.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm alteredColor">
  <div class="container text-center pb-5 my-4">
    <h1><i class="bi-heart text-danger"></i></h1>
    <p><em>Loved by our customers across the globe</em></p>
    <div id="testimonials" class="mt-5 carousel slide" data-bs-ride="carousel" data-bs-keyboard="true">
      <div class="carousel-inner  flex align-items-center">
        <div class="carousel-item active">
          <a href="https://www.commbank.com.au/" target="_blank" rel="noopener">
            <img src="images/references/cba_tb.png" alt="Commonwealth Bank of Australia">
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://brunata.dk" target="_blank" rel="noopener">
            <img src="images/references/brunata_logo.png" alt="Brunata">
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://www.deloitte.com/" target="_blank" rel="noopener">
            <img src="images/references/deloitte.svg" alt="Deloitte">
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://www.meusburger.com/" target="_blank" rel="noopener">
            <img src="images/references/meusburger.svg" alt="Meusburger">
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://novogenia.com/" target="_blank" rel="noopener">
            <img src="images/references/novogenia.png" alt="Novogenia">
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://www.iwgplc.com/" target="_blank" rel="noopener">
            <img src="images/references/iwg.svg" alt="IWG PLC">
          </a>
        </div>
      </div>

      <!-- Carousel Buttons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonials" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonials" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
</section>

<section class="section section-sm">
  <div class="container my-4">
    <div class="text-center">
      <h1><i class="bi-clipboard-check"></i></h1>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <h2>Data integration</h2>

        <p>
          Data integration solves the problem of moving, transforming, and
          consolidating information from various sources like databases,
          applications, files, and web services. Bringing them together enables
          you to cleanse, standardize, de-duplicate, manipulate, and synchronize
          them. Data integration can play an important role in any project, and
          it can be critical to have a rock-solid solution in place that is able
          to integrate numerous applications, services and databases. ETLBox as
          an Extract, transform, and load (ETL) tool is a perfect fit when you
          need to create a data integration solution.
        </p>

        <h2>Common data API</h2>

        <p>
          ETLBox provides you with a single API for working with data. The API
          treats all data the same regardless of their source. By developing
          your applications against a single API, you can use the same
          components to process data regardless of whether they're coming from a
          database, Excel file, or 3rd-party API.
        </p>

        <h2>Embed inside your App</h2>

        <p>
          ETLBox fits well within your applications and services. It is a very
          lightweight library and has a very small footprint. It's also
          complication free - requiring no servers, installation, or config
          files. You just add it as a package reference into your app and start
          using it.
        </p>
      </div>
      <div class="col-lg-8">
        <h2>In-flight Processing</h2>

        <p>
          ETLBox can run completely in-memory. In most cases, there's no need to
          store intermediate results in temporary databases or files on disk.
          Processing data in-memory, while it moves through the pipeline, can be
          more than 100 times faster than storing it to disk to query or process
          later.
        </p>

        <h2>Flexible componentens</h2>

        <p>
          ETLBox comes with a set of components and tasks that simplify to read
          data from various sources, transform it on the fly and write it into
          different destinations. But all components offer you the ability to
          add your own logic in C# - and you can benefit here from the full
          power of the .NET framework. Even if your own data source or
          destination is not supported out of the box, you can easily add it
          yourself by extending the <em>CustomSource</em> or
          <em>CustomDestination</em> components.
        </p>

        <h2>100% .NET</h2>

        <p>
          ETLBox is built on .NET and runs with the latest version of .NET, .NET Core
          and .NET Framework. You can write data flows and transformations in C#
          or any of the other .NET languages you know (e.g. VisualBasic or F#).
          Also use your existing tools, IDEs, containers, and libraries.
          Being built on .NET means ETLBox can run on all servers, operating
          systems, and environments.
        </p>
      </div>
    </div>
</section>

<section class="section section-sm alteredColor">
  <div class="container">
    <div class="text-center">
      <h3>Explore Some of Our Supported Connectors:</h3>
    </div>
    <div>
      <p>These are just a few of the many connectors ETLBox supports.
        Whether you're integrating data from popular databases, cloud services, or other platforms, ETLBox makes
        connecting
        and transforming your data simple and efficient. Explore our full range of connectors to discover even more
        possibilities for your data workflows.
      </p>
    </div>
    <div class="row gx-4 align-items-center justify-content-center">
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/sqlserver.png" alt="SQLServer" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/sql-azure.png" alt="SQLServer Azure" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/postgres.png" alt="Postgres" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/oracle.png" alt="Oracle" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/mysql.png" alt="MySql" /></a>
      </div>
    </div>
    <div class="row gx-4 align-items-center justify-content-center">
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/mariadb.png" alt="MariaDB" class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/db2logo.png" alt="IBM DB2" class="m-3" width="60"/></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/sap-ase.png" alt="SAP ASE" class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/sap-hana.png" alt="SAP Hana" class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/snowflake.png" alt="Snowflake" class="m-3" /></a>
      </div>
    </div>
    <div class="row gx-4 align-items-center justify-content-center">
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/access/#odbc-drivers"><img src="/images/supported/access.png" alt="Access"
            class="m-3" width="70" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/spark.png" alt="ETLBox" class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/odbc.png" alt="ETLBox" class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/sql-lite.png" alt="ETLBox" class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/db-connectors/connection-manager/#supported-relational-databases"><img
            src="/images/supported/oledb.png" alt="ETLBox" class="m-3" width="75" /></a>
      </div>
    </div>

    <div class="row gx-4 align-items-center justify-content-center">
      <div class="col-lg-3 col-md-12">
        <a href="/docs/nosql-connectors/mongo/"><img src="/images/supported/mongodb.png" alt="Mongo DB" class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/nosql-connectors/kafka/"><img src="/images/supported/kafka.png" alt="Apache Kafka" class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/nosql-connectors/cosmos-db/"><img src="/images/supported/cosmos.png" alt="Azure Cosmos DB"
            class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/nosql-connectors/service-bus/"><img src="/images/supported/servicebus.png" alt="Azure Service Bus"
            class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/nosql-connectors/tables/"><img src="/images/supported/tables.png" alt="Azure Tables" class="m-3" /></a>
      </div>
    </div>

    <div class="row gx-4 align-items-center justify-content-center">
      <div class="col-lg-3 col-md-12">
        <a href="/docs/nosql-connectors/couchbase/"><img src="/images/supported/couchbase.png" alt="Couchbase"
            class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/nosql-connectors/redis/"><img src="/images/supported/redis.png" alt="Redis" class="m-3" /></a>
      </div>
      <div class="col-lg-3 col-md-12">
        <a href="/docs/stream-connectors/parquet/"><img src="/images/supported/parquet.png" alt="Parquet"
            class="m-3" /></a>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="row gx-4 align-items-center justify-content-end">
      <div class="col">
        <a href="/docs/stream-connectors/xml/"><img src="/images/supported/xml.svg" alt="XML" class="m-3" height="70"
            width="50" /></a>
        <a href="/docs/stream-connectors/csv/"><img src="/images/supported/csv.svg" alt="CSV" class="m-3" height="70"
            width="50" /></a>
        <a href="/docs/stream-connectors/json/"><img src="/images/supported/json.svg" alt="JSON" class="m-3"
            height="70" width="50" /></a>
        <a href="/docs/stream-connectors/text/"><img src="/images/supported/txt.svg" alt="TEXT" class="m-3"
            height="70" width="50" /></a>
        <a href="/docs/stream-connectors/excel/"><img src="/images/supported/excel.svg" alt="EXCEL" class="m-3"
            height="70" width="50" /></a>
      </div>
    </div>
    <div>
      <h3><b>...or create your own with our CustomConnector!</b></h3>
    </div>
  </div>
</section>

<section class="section section-sm">
  <div class="container">
    <div class="text-center my-3 ">
      <h3>Build Your Dataflows with Code</h3>
      <p>Take the next step in simplifying your data integration.
        With ETLBox, you can easily write code to set up, connect, and transform your data exactly the way you
        need.<br />
        Click below to begin crafting your ETL processes with our powerful C# library.</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/getting-started/quick-start"
        role="button">Ready to start?</a>
    </div>
  </div>
</section>
{{ end }}


{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">(C) 2024 ETLBoxperts GmbH</div>
  </div>
</section>
{{ end -}}
{{ end }}
