
<link rel="preload" href="{{ "fonts/segoe-ue/bold/latest.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/segoe-ue/light/latest.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/segoe-ue/normal/latest.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/segoe-ue/semibold/latest.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/segoe-ue/semilight/latest.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
