.contact .card {
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: transform 0.3s;
  font-size: medium;
}


.contact .card:hover {
  transform: scale(1.025);
}

.contact a,
.contact a:hover {
  text-decoration: none;
}

.contact .card {
  width: 22rem;
  height: 20rem;
}

.contactforms .form-group {
  padding: 0.5rem;  
}

.contactforms label {
  margin-top: 5px;
}