/*.navbar-form {
  position: relative;
}*/




/*
.algolia-autocomplete {
 // width: 100%;
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  width: calc(100vw - 3rem);
  max-width: calc(400px - 3rem);
  z-index: $zindex-dropdown;

  @include media-breakpoint-up(md) {
    right: -2rem;
  }

  @include media-breakpoint-up(lg) {
    right: 0;
  }
}
*/



.algolia-autocomplete a,
.suggestion__no-results {
  padding: 0.75rem;
  margin: 0 0.5rem;
}

.algolia-autocomplete div:not(:first-child) {
  border-top: 1px dashed $gray-200;
}

.algolia-autocomplete div:first-child {
  margin-top: 0.5rem;
}

.algolia-autocomplete a {
  display: block;
  text-decoration: none;
}

.algolia-autocomplete a:focus {
  background: $gray-100;
  outline: 0;
}

.algolia-autocomplete div:last-child {
  margin-bottom: 0.5rem;
}

.algolia-autocomplete a:hover {
  background: $gray-100;
}

.algolia-autocomplete span {
  display: flex;
  font-size: $font-size-base;
}

.suggestion__title {
  font-weight: $headings-font-weight;
  color: $black;
}

.suggestion__description,
.suggestion__no-results {
  color: $gray-700;
}

@include media-breakpoint-up(lg) {
  .algolia-autocomplete {
    width: 31.125rem;
    max-width: 31.125rem;
  }

  .algolia-autocomplete a {
    display: flex;
  }

  .suggestion__title {
    width: 9rem;
    padding-right: 1rem;
    border-right: 1px solid $gray-200;
    display: inline-block;
    text-align: right;
  }

  .suggestion__description {
    width: 19rem;
    padding-left: 1rem;
  }
}









.algolia-autocomplete .aa-input, 
.algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}



/*

#suggestions {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  width: calc(100vw - 3rem);
  max-width: calc(400px - 3rem);
  z-index: $zindex-dropdown;

  @include media-breakpoint-up(md) {
    right: -2rem;
  }

  @include media-breakpoint-up(lg) {
    right: 0;
  }
}

#suggestions a,
.suggestion__no-results {
  padding: 0.75rem;
  margin: 0 0.5rem;
}

#suggestions a {
  display: block;
  text-decoration: none;
}

#suggestions a:focus {
  background: $gray-100;
  outline: 0;
}

#suggestions div:not(:first-child) {
  border-top: 1px dashed $gray-200;
}

#suggestions div:first-child {
  margin-top: 0.5rem;
}

#suggestions div:last-child {
  margin-bottom: 0.5rem;
}

#suggestions a:hover {
  background: $gray-100;
}

#suggestions span {
  display: flex;
  font-size: $font-size-base;
}

.suggestion__title {
  font-weight: $headings-font-weight;
  color: $black;
}

.suggestion__description,
.suggestion__no-results {
  color: $gray-700;
}

@include media-breakpoint-up(lg) {
  #suggestions {
    width: 31.125rem;
    max-width: 31.125rem;
  }

  #suggestions a {
    display: flex;
  }

  .suggestion__title {
    width: 9rem;
    padding-right: 1rem;
    border-right: 1px solid $gray-200;
    display: inline-block;
    text-align: right;
  }

  .suggestion__description {
    width: 19rem;
    padding-left: 1rem;
  }
}







*/